<div class="events-container">
  <h1>Gallery</h1>
  <h3>Capturing you getting lost in the sauce</h3>

  <div class="events-flex-card">
    <% @events.each do |event| %>

      <div class="event-card">
        <div class="img-div">
          <% if event.cover_image.attached? %>
            <%= image_tag event.cover_image, class: "event-image", size: "300x200" %>
          <% end %>
        </div>

        <div class="event-text">
          <h5><%= link_to event.name, event_images_path(event) %></h5>
          <p><%= event.date.strftime("%m/%d/%y") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--make event-card link to image index-->
