<h1>About uS</h1>
<p>
To those that prefer a moderate paced afternoon under
beautiful lighting and groovy sonics curated by a group of
people who understand the need to take a breather after a
hectic week into a weekend evening to unwind and decompress.

Afro-Bounce is here to cater an escape from the city’s fast
paced life after a long week. A vibe for the Afro centric music
lovers and the adventurous bunch who often feel uncounted for
at most events. A weekend pick me up to ease you into
relaxation.
</p>
