<div class="images-container">
  <h1>Images</h1>

  <% if current_admin %>
    <%= link_to 'Add images', new_event_image_path, class: "btn btn-primary"  %>
  <% end %>

  <% @images.each do |image| %>
    <div class="image-card">
      <%= link_to event_image_path(@event, image) do %>
        <%= image_tag url_for(image), class: "image", size: "300x200" %><span>
      <% end %>
      <%= link_to 'Delete', event_image_path(@event, image), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %></span>
    </div>
  <% end %>
</div>
