<p>Upload images</p>

<div class="form-container">
  <div class="event-form-card">
  <%= simple_form_for @event, url: event_images_path(@event), html: { multipart: true }, method: :post do |f| %>
    <div class="form-group">
      <%= f.file_field :images, as: :file, input_html: { multiple: true, name: 'event[images][]', class: "form-styling" } %>
    </div>
    <div class="form-group">
      <%= f.button :submit, "Upload images", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
