<!--<div class="image-show-container">-->
  <div class="image-full">
    <%= image_tag @image, alt: 'Full-screen Image', class: 'fullscreen-image' %>
  </div>

  <%= link_to "Download Image", rails_blob_path(@image, disposition: "attachment"), class: "btn btn-primary" %>

<!--</div>-->
